@import "~bootstrap/scss/bootstrap";

html {
  background-color: #FBF1E3;
}

body {
  background-color: #FBF1E3;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

// en el navbar

.navigationBar {
  background-color: #DFCC9C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  .homeswitch {
    color: #4C8055;
    font-weight: bold;
  }

  .homeswitch:hover {
    font-weight: bolder;
  }

  a {
    text-decoration: none;
    padding: 10px;
    color: black;
    cursor: pointer;
  }

  a:hover {
    color: white;
    font-weight: bold;
  }

  img {
    height: 150px;
    width: 180px;
    padding: 4%;
  }

  .switchLinks {
    margin-right: 30px;
  }
}

// Home / Catalog

.BS-Carousel {
  background-color: #3E4F44;
  width: 100%;

  img {
    padding: 1% 0%;
    height: 620px;
    object-fit: cover;
    border-radius: 20px;
  }

  .carousel-caption {
    font-family: Montserrat;
    position: center;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    font-size: 15px;
    cursor: default;
    background-color: #444444;
    opacity: 80%;

    h5, p {
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-weight: bolder;
    }

    .etiquetascarousel {
      ul {
        display: flex;
        justify-content: center;
        padding: 0;
        margin-top: 0;
        margin-bottom: 1rem;
        list-style-type: none;

        li {
          font-family: Montserrat;
          margin-left: 10px;
          background-color: gray;
          border-radius: 10px;
          color: white;
          font-size: 13px;
          text-align: center;
          padding: 5px;
          cursor: default;
          border: 1px solid #ffffff;
        }
      }
    }

    .buttonscarousel {
      display: flex;
      justify-content: center;

      Button {
        font-family: Montserrat;
        margin-left: 5px;
        height: 30px;
        text-align: center;
        font-size: 10px;

        .infobutton {
          cursor: help;
        }
      }
    }
  }
}


.catalogSection {
  display: flex;
  flex-direction: column;

  .cardAlignment {
    padding: 2% 10% 10% 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    .ExperienceTitle {
      text-align: center;
      padding-top: 20%;
      letter-spacing: 3px;
      font-family: Montserrat;
      font-weight: bolder;
    }

    .card {
      font-family: Montserrat;
      margin-top: 5%;

      .card-title {
        font-weight: bold;
        letter-spacing: 2px;
        text-align: center;
        background-color: #444444;
        border-radius: 15px;
        color: white;
      }

      .card-text {
        text-align: center;
        padding: 6%;
        border: gray 1px solid;
        margin: 20px;
      }

      .card-img {
        width: 100%;
        height: 500px;
        padding: 3%;
        object-fit: cover;
      }

      .arraylisttitulos {
        font-weight: bold;
      }

      .tarjeta-displayflex {
        display: flex;

        .arraylist-displayflex {
          margin-left: 10px;
        }

      }

      ul {
        display: flex;
        padding: 0;
        margin-top: 0;
        list-style-type: none;

        li {
          font-family: Montserrat;
          background-color: gray;
          border-radius: 10px;
          color: white;
          font-size: 13px;
          padding: 5px;
          cursor: default;
          margin-left: 10px;
        }
      }

      .btncardreserva {
        display: flex;
        justify-content: flex-end;

        .btn-warning {
          color: #000;
          background-color: #ffc107;
          border-color: #ffc107;
          border-radius: 20px;
          width: 180px;
          letter-spacing: 5px;
          padding: 5% 0% 5% 0%;
          margin: 2% 0% 3% 0%;
        }

        .btn-warning:hover {
          color: white;
        }
      }
    }
  }
}


// en Experiencias
#app {
  background-color: #FBF1E3;
  margin: 0;
}

.experiencesList {
  border: thin solid #444444;
  width: 300px;
  margin: auto;
  border-radius: 12px;
  background-color: whitesmoke;

  &__title {
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__item {
    box-shadow: #444444 1px 1px;
    border: thin solid black;
  }
}

.experience {

  height: 120px;
  position: relative;
  text-align: center;

  &__name {
    padding: 20%;
  }

  &__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;

  }

  &:hover &__details {
    width: 100%;
  }
}


// en about

.aboutSection {
  height: 850px;
  padding: 10%;

  .aboutContent1 {

    .founderInfo {
      display: flex;
      justify-content: flex-start;

      img {
        width: 500px;
        height: 600px;
        border-radius: 100px;
      }

      .foundertitle {
        text-align: center;
        margin: 10%;

        h3 {
          font-family: Montserrat;
          font-weight: bold;
          letter-spacing: 3px;
        }
        h5{
          font-family: Montserrat;
        }

      }

      .aboutInfo {
        margin: 5% 0% 10% 0%;

        p {
          margin-top: 0;
          margin-bottom: 1rem;
          padding: 5% 5% 5% 5%;
          margin: 5% 4% 3% 10%;
          border: 1px solid green;
          background-color: white;
          text-align: center;
          letter-spacing: 1px;
          border-radius: 10px;
        }
      }
    }
  }
}

.contactSection {
  .contactDetails {
    display: flex;
    justify-content: center;

    p {
      flex-direction: column;
      font-size: 12px;
      justify-content: space-evenly;
    }

    .contactDetail {
      color: green;
      font-weight: bold;
    }
  }
}

// reserve form + completed form msg
.reserveFormContent {
  padding: 4% 25%;

  .reserveFormstyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 600px;

    h1 {
      text-align: center;
    }

    .input-group-calender {
      max-width: 225px;
      padding-left: 15px;
    }

    .reservebuttontext {
      text-decoration: none;
      color: white;

    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.completedFormMsg {
  font-family: Montserrat;
  font-weight: bold;
  margin: 170px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #FBF1E3;
  height: 200px;

  a {
    text-decoration: none;
  }
}

//footer

.footerSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #3E4F44;
  height: 188px;
  color: white;
  font-family: Montserrat;

  h2 {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 6% 15% 2%;
  }

  .footerGracias {
    display: flex;

    img {
      height: 85px;
      padding: 8% 10% 0%;
    }

    h1 {
      font-family: "Montserrat";
      letter-spacing: 10px;
      font-size: 20px;
      padding: 10% 0%;
      cursor: default;
    }
  }

  .aboutusfooter {
    display: flex;
    flex-direction: column;

    .aboutusfooter-links {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        font-family: Montserrat;
        text-decoration: none;
        color: white;
        letter-spacing: 5px;
        font-size: 18px;
        padding: 30%;
      }

      a:hover {
        color: white;
        font-weight: bolder;
      }

      .aboutusfooter-socialmedia {
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin: 0% 0% 0% 30%;

        img {
          height: 40px;
          width: 40px;
          margin-left: 15px;
          border: black 1px solid;
          border-radius: 10px;
        }
      }
    }
  }

  .contactdetailsfooter {
    display: flex;
    flex-direction: column;

    .contactdetails-logoandtext {
      padding: 5% 5%;
      font-size: 15px;
      border-radius: 35px;
      margin: 0% 1%;

      p {
        margin-left: 10px;
        font-size: 12px;
      }

      img {
        height: 20px;
        width: 20px;
      }

      .logo-phone {
        display: flex;

      }

      .logo-mail {
        display: flex;
      }

      .logo-pin {
        display: flex;
      }
    }
  }
}

// scroll to top

.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;

  .scrollTop:hover {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}