@import "~bootstrap/scss/bootstrap";

html {
  background-color: #FBF1E3;
}

body {
  background-color: #FBF1E3;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

// en el navbar

.navigationBar {
  background-color: #DFCC9C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  .homeswitch {
    color: #4C8055;
    font-weight: bold;
  }

  .homeswitch:hover {
    font-weight: bolder;
  }

  a {
    text-decoration: none;
    padding: 10px;
    color: black;
    cursor: pointer;
  }

  a:hover {
    color: white;
    font-weight: bold;
  }

  img {
    height: 150px;
    width: 180px;
  }

  .switchLinks {
    margin-right: 30px;
  }
}

// Home / Catalog

.BS-Carousel {
  background-color: #3E4F44;
  width: 100%;

  img {
    padding: 1% 0%;
    height: 620px;
    object-fit: cover;
    border-radius: 20px;
  }

  .carousel-caption {
    font-family: Montserrat;
    position: center;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    font-size: 15px;
    cursor: default;
    background-color: #444444;
    opacity: 80%;

    h5, p {
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-weight: bolder;
    }

    .etiquetascarousel {
      ul {
        display: flex;
        justify-content: center;
        padding: 0;
        margin-top: 0;
        margin-bottom: 1rem;
        list-style-type: none;

        li {
          font-family: Montserrat;
          margin-left: 10px;
          background-color: gray;
          border-radius: 10px;
          color: white;
          font-size: 13px;
          text-align: center;
          padding: 5px;
          cursor: default;
          border: 1px solid #ffffff;
        }
      }
    }

    .buttonscarousel {
      display: flex;
      justify-content: center;

      Button {
        font-family: Montserrat;
        margin-left: 5px;
        height: 30px;
        text-align: center;
        font-size: 10px;

        .infobutton {
          cursor: help;
        }
      }
    }
  }
}


.catalogSection {
  display: flex;
  flex-direction: column;

  .cardAlignment {
    padding: 2% 10% 10% 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    .ExperienceTitle {
      text-align: center;
      padding-top: 20%;
      letter-spacing: 3px;
      font-family: Montserrat;
      font-weight: bolder;
    }

    .card {
      font-family: Montserrat;
      margin-top: 5%;

      .card-title {
        font-weight: bold;
        letter-spacing: 2px;
        text-align: center;
        background-color: #444444;
        border-radius: 15px;
        color: white;
      }

      .card-text {
        text-align: center;
        padding: 6%;
        border: gray 1px solid;
      }

      .card-img {
        width: 100%;
        height: 500px;
        padding: 3%;
      }

      .arraylisttitulos {
        font-weight: bold;

      }

      .tarjeta-displayflex {
        display: flex;

        .arraylist-displayflex {
          margin-left: 10px;
        }
      }

      ul {
        display: flex;
        padding: 0;
        margin-top: 0;
        list-style-type: none;

        li {
          font-family: Montserrat;
          background-color: gray;
          border-radius: 10px;
          color: white;
          font-size: 13px;
          padding: 5px;
          cursor: default;
          margin-left: 3px;
        }
      }
    }
  }
}


// en Experiencias
#app {
  background-color: #FBF1E3;
}

.experiencesList {
  border: thin solid #444444;
  width: 300px;
  margin: auto;
  border-radius: 12px;
  background-color: whitesmoke;

  &__title {
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__item {
    box-shadow: #444444 1px 1px;
    border: thin solid black;
  }
}

.experience {

  height: 120px;
  position: relative;
  text-align: center;

  &__name {
    padding: 20%;
  }

  &__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;

  }

  &:hover &__details {
    width: 100%;
  }
}


// en about

.aboutSection {
  .aboutContent1 {
    .founderInfo {
      display: flex;
      justify-content: flex-start;

      img {
        width: 300px;
        height: 400px;
      }

      .founderDetails {
        flex-direction: column;
      }

      .founderInfo {
        text-align: center;
        margin: 150px;
      }
    }
  }
}

.contactSection {
  .contactDetails {
    display: flex;
    justify-content: center;

    p {
      flex-direction: column;
      font-size: 12px;
      justify-content: space-evenly;
    }

    .contactDetail {
      color: green;
      font-weight: bold;
    }
  }
}

// reserve form + completed form msg
.reserveFormContent {
  padding: 5% 30%;

  .reserveFormstyle {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    background-color: #FBF1E3;
    width: 400px;
    height: 450px;
    border: 1px solid #0f5132;
    border-radius: 20px;

    h1 {
      text-align: center;
    }

    .input-group-calender {
      max-width: 225px;
      padding-left: 15px;
    }
  }
}

.completedFormMsg {
  margin: 170px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #FBF1E3;
}

// footer

.footerSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #3E4F44;
  height: 5%;
  color: white;
  font-family: Montserrat;

  h2 {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 6% 15% 2%;
  }

  .aboutusfooter {
    display: flex;
    flex-direction: column;
    margin: 0% 0% 6% 1%;

    .aboutusfooter-links {
      display: flex;
      flex-direction: column;
      padding: 1% 1% 3% 20%;
      text-align: center;
      align-items: center;

      a {
        font-family: Montserrat;
        text-decoration: none;
        color: white;
        letter-spacing: 3px;
      }

      a:hover {
        color: white;
        font-weight: bolder;
      }

      img {
        height: 145px;
      }
    }

    .aboutusfooter-socialmedia {
      display: flex;
      justify-content: space-evenly;
      align-content: center;
      padding: 5% 0%;
      img {
        height: 40px;
        width: 40px;
        margin-left: 15px;
        border: white 1px solid;
        border-radius: 85px;
      }
    }
  }

  .contactdetailsfooter {
    display: flex;
    flex-direction: column;

    .contactdetails-logoandtext {
      padding: 10% 10%;
      font-size: 15px;
      border: white solid 1px;
      border-radius: 35px;
      margin: 0% 10%;

      p {
        margin-left: 10px;
        font-size: 12px;
      }

      img {
        height: 20px;
        width: 20px;
      }

      .logo-phone {
        display: flex;

      }

      .logo-mail {
        display: flex;
      }

      .logo-pin {
        display: flex;
      }
    }
  }
}

// scroll to top

.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;

  .scrollTop:hover {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}