@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
// en el navbar
.navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: whitesmoke;
  .homeswitch {
    color:#92DB52;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    padding: 10px;
    font-style: normal;
    color: black;
  }
  a:hover {
    color: #92DB52;
    font-weight: bolder;
  }
  img {
    height: 150px;
    width: 180px;
  }
  .switchLinks {
      margin-right: 30px;
  }
}
// en Experiencias
.experiencesList {
  border: thin solid #444444;
  width: 300px;
  margin: auto;
  border-radius: 12px;
  background-color: whitesmoke;

  &__title {
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__item {
    box-shadow: #444444 1px 1px;
    border: thin solid black;
  }
}

.experience {

  height: 120px;
  position: relative;
  text-align: center;

  &__name {
    padding: 20%;
  }

  &__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;

  }
  &:hover &__details {
    width: 100%;
  }
}

/*
 #app {
  height: 100vh;
  padding: 20%;
}
 */

// en about

.aboutSection {

  .aboutContent1{
    text-align: center;
    margin: 150px ;
  }
  .aboutContent2 {
    display: flex;
    flex-direction: column;
    p {
      font-size: 12px;
    }
    .contactDetail {
      color: green;
      font-weight: bold;
    }
  }
}
